@inherits LayoutComponentBase
<header>
    <a class="btn btn-primary m-1" href="">Home</a>
    <a class="btn btn-primary m-1" href="Customers">Customers</a>
    <a class="btn btn-primary m-1" href="Books">Books</a>
    <a class="btn btn-primary m-1" href="Reviews">Reviews</a>
    <a class="btn btn-primary m-1" href="Cart">Cart</a>
</header>

<main>
    @Body
</main>
